* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    background: #121725;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 375px;
    height: 1125px;
    background: #181F31;
}

#infos {
    display: flex;
    justify-content: space-between;
    margin: 15px 16px 0 15px;
}

#hour {
    font-size: 16px;
    color: #FDBBFF;
}

#signalAndBattery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
}

#mobileSignal {
    width: 17px;
    height: 11px;
    background: url(../images/mobile-signal-vector.png) no-repeat;
    background-size: contain;
}

#wifiSignal {
    width: 16px;
    height: 11px;
    background: url(../images/wifi-signal-vector.png) no-repeat;
    background-size: contain;
}

#battery {
    width: 22px;
    height: 11px;
    background: url(../images/battery-vector.png) no-repeat;
    background-size: contain;
}

#returnArrow {
    margin-top: 50px;
    margin-left: 18px;
    width: 16px;
    height: 10px;
    background: url(../images/arrow-left-vector.png) no-repeat;
    background-size: contain;
}

.infoMenu {                                 /* menus retangulares */
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 342px;
    height: 99px;
    font-size: 14px;
}

.logo {   
    margin: auto 0px;
    width: 20px;
    height: 20px;
    font-size: 25px;
    color: #41BB8F;
}

#firstMenu {
    border-bottom: 1px solid #FFFFFF3D;
}

#apresentation {
    margin: auto 0px;
    font-size: 20px;
}

.whiteText {
    margin: 0;
    color: #FDFDFD;
}

.greenText {
    margin: 0;
    color: #31ED98;
}

#logoUser {
    background: url(../images/logo-vector.png) no-repeat;
    background-size: contain;
}

#dropdown {
    width: 10px;
    height: 6px;
    background: url(../images/dropdown-vector.png) no-repeat;
    background-size: contain;
}

#expenseChart {
    width: 342px;
    height: 30px;
}

#expenseChart h5 {
    font-size: 14px;
    color: #FDFDFD;
}

#expenseChart p {
    font-size: 12px;
    color: #BFC1C5;
}

#respectiveMonth {
    display: inline-flex;
    font-size: 12px;
    color: #31ED98;
}

#demonstrative {
    flex-direction: column;
    height: 744px;
    background-color: #202738;
}

.titles {
    margin: 16px 0 0px 16px;
    font-size: 14px;
    color: #BFC1C5;
}

.sub {                                      /* Demonstrativo unitário */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    height: 70px;
    border-radius: 2px;
    font-size: 12px;
    border-bottom: 1px solid #222A3F;
    background-color: #202738;
    color: #FFF;
}


#spotfy .subLogo {
    background: url(../images/spotfy.png) no-repeat;
    background-size: contain;
}

#netflix .subLogo {
    background: url(../images/netflix.webp) no-repeat;
    background-size: contain;
}

#crunchyroll .subLogo {
    background: url(../images/crunchyroll.png) no-repeat;
    background-size: contain;
}

.subLogo {
    margin-left: 15px;
}

.subIdentification {                        /* Identificação com nome e data */
    margin-right: 90px;
}

.subIdentification :nth-child(2), .subIdentification :nth-child(3), .subIdentification :nth-child(4) { /* data e hora*/
    display: inline;
    color: #818181C5;
}

.subValue {
    margin-right: 15px;
}

.subLogo {
    margin-left: 20px;
    width: 24px;
    height: 24px;
    background-size: contain;
}

#acai .subLogo {
    background: url(../images/shopping-vector.png) no-repeat;
}

#kabum .subLogo {
    background: url(../images/shopping-vector.png) no-repeat;
}

#transfer .subLogo {
    background: url(../images/transactions-vector.png) no-repeat;
}

#transfer .subIdentification {
    margin-right: 75px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin-top: auto;
    margin-bottom: 0px;
    width: 100%;
    height: 80px;
    background: #1F293C;
}

.navItem {
    width: 20px;
    height: 20px;
    margin-top: 30px;
}

#nav-home {
    background: url(../images/home-vector-white.png) no-repeat;
    background-size: contain;
}

#nav-insc {
    background: url(../images/doc-vetor-white.png) no-repeat;
    background-size: contain;
}

#nav-trans {
    background: url(../images/transactions-vector-white.png) no-repeat;
    background-size: contain;
}

#nav-est {
    background: url(../images/statistics-vector-white.png) no-repeat;
    background-size: contain;
}

#nav-card {
    background: url(../images/card-vector-white.png) no-repeat;
    background-size: contain;
}